<!DOCTYPE html>
<html>
  <head>
    {{!-- title değişsin diye --}}
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Anasayfa</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
    {{!-- renderBody() hmtl render eder --}}
    {{{body}}}
  </body>
</html>
